@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #1e293b;
  --color-accent: #38bdf8;
  --color-text: #f1f5f9;
  --color-muted: #94a3b8;
  --font-sans: Inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-primary text-text font-sans antialiased;
}